:root{
    --primary-color : #000a23;
    --secundary-color: #021d34;
    --third-color: #153f59;
    --light-color: #94b8d7;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;;
}
h1,h2,h3,h4{
    margin: 0;
}
/*--Utilities*/
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}
/*--Header--*/
.main-header{
    height: 100vh;
    background-color: var(--primary-color);
    color: #fff;
}
.main-icon{
    overflow: hidden;
    font-weight: lighter;
}
.main-icon .first-letter{
    position: relative;
    z-index: 50;
    background-color: var(--primary-color);
}
.main-icon .letter{
    position: relative;
    left: -48%;
    transition: .5s;
}
.main-icon .rest{
    visibility: hidden;
    width: 0;
    position: relative; 
    left: -100%;
    transition: .5s;
}
.main-icon:hover .letter{
    visibility: unset;
    width: 100%;
    left: 0;
}
.bar-header{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    margin: 16px;
}
.nav-header{
    display: flex;
    list-style: none;
    
}
.nav-header li{
    margin-right: 18px;
}
.nav-header a{
    text-decoration: none;
    color: #fff;
}
.container-header{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.presentation{
    font-size: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.presentation p{
    margin: 1rem;
}
.presentation-description{
    font-size: 1rem;
}
.presentation .hightlight{
    color: rgb(228, 192, 33);
}
.title-container{
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.title{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    font-size: 2em;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem ;
}
.project-item{
    box-shadow: 1px 3px 8px gray;
    padding: 1rem;
}
@media (max-width: 1024px) {
    .project-list{
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
    }
}
@media (max-width: 762px) {
    .project-list{
        grid-template-columns: repeat(1,1fr);
        
    }
}
/*Tags styles*/
.project-tags ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.tags{
    padding: 2px 5px;
    border: 2px solid black;
    font-weight: bolder;
    border-radius: 15px;
    margin: 0 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.html{
    border-color: #e54c21;
    color: #e54c21;
}
.css{
    border-color: rgb(0, 110, 255);
    color: rgb(0, 110, 255);
}

.js{
    border-color: rgb(255, 208, 0);
    color: rgb(255, 208, 0);
}
.php{
    border-color: rgb(89, 0, 255);
    color: rgb(89, 0, 255);
}

.db{
    border-color: #255278;
    color: #255278;
}

.django{
    border-color: #0C4B33;
    color: #0C4B33;
}
.laravel{
    border-color: rgb(255, 45, 32);
    color: rgb(255, 45, 32);
}
.python{
    border-color: #4382b3;
    color: #4382b3;
}
.c-sharp{
    border-color: #671473;
    color: #671473;
}
.java{
    border-color: #0070b7;
    color: #0070b7;
}
.btn-more a{
    text-decoration: none;
    color: white;
}
.btn-more{
    background-color: rgb(14, 150, 14);
    font-weight: bolder;
    border-radius: 15px;
    padding: .8rem 2rem;
    text-align: center;
}
.skill-container{
    background-color: var(--secundary-color);
}
.skill-flex{
    display: flex;

}
.skill-content{
    flex: 1;
    padding: 2rem;
    color: white;
    border-radius: 10px;
}
@media (max-width: 824px) {
    .skill-flex{
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 667px){
    .skill-flex{
        width: 100%;
        padding: 1.8rem;
    }
    .skill-content{
        padding: 0;
        margin-bottom: 2rem;
    }
}
.skill-content .bar{
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: var(--light-color);
    border-radius: 20px;
    position: relative;
}
.skill-content .progress{
    position: absolute;
    height: 100%;
    border-radius: inherit;
    background-color: #fff;
    color: black;
}
.main-footer{
    background-color: var(--primary-color);
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    padding: .8rem  0; 
}
.content-footer{
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.title-footer{
    grid-column: 2/3;
}
.contact-list{
    grid-column: 3/4;
}
@media (max-width: 768px){
    .content-footer{
        font-family: 1.3em;
        display: flex;
        flex-direction: column;
    }
}
.contact-list ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.contact-list li{
    margin-left: 1rem;
    border: 1px solid #fff;
    padding: 2px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
}