body {
  min-height: 100vh;
}
img.img-profile {
  max-width: 270px;
}
/*=========Text typing==========*/
.text-typing {
  padding: 10px 20px 10px 0;
  font-size: 35px;
  font-family: monospace;
  width: fit-content;
}
.text-typing h1{
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards, blink .6s infinite;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid rgb(189, 192, 0);
  }
}

/*=========Header==========*/
.banner {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--primary-color);
  color: #fff;
  background-image: url("../images/banner.jpg");

  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
@media (max-width: 992px){
    .banner{
        height: auto;
    }
}
.banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-navbar {
  height: fit-content;
  width: 100%;
  background-color: #11171d;
  right: 15px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
.info {
  z-index: 100;
}
.text-custom {
  color: rgb(55, 148, 255) !important;
}
.border-custom {
  border-color: greenyellow !important;
}
.link {
  color: white !important;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}
.rounded-custom {
  border-radius: 20px;
}
.link.active {
  background-color: white;
  color: black !important;
  border-radius: 30px;
}
.purple {
  color: rgb(219, 0, 219);
}
.string {
  color: greenyellow;
}
.title-container {
  margin: 2rem 0;
  background-image: url("../images/banner.jpg");
  background-attachment: fixed;
  height: 100%;
  position: relative;
}
.title-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.title {
  color: #fff;
  text-align: center;
  padding: 10px;
  border-left: 10px solid var(--bs-primary);
  border-right: 10px solid var(--bs-primary);
  position: relative;
  z-index: 10;
}
.tech-skills {
  height: 120px;
  text-align: left;
}
.tech-img {
  height: 100px;
  text-align: left;
}
.border-bottom:last-of-type {
  border-bottom: none !important;
}
.link {
  text-decoration: none;
  font-weight: 300;
  text-align: center;
}
.project-link {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  color: white;
  text-decoration: underline;
}
.project-link:hover {
  color: white;
  background-color: greenyellow;
}
.shadow {
  box-shadow: 0 2rem 3rem rgb(0, 0, 0) !important;
}
.text-tech {
  font-weight: 600;
  font-size: 30px;
}
.text-laravel {
  color: #ff2d20;
}
.text-spring {
  color: #77bc1f;
}
.text-java {
  color: #ea2d2e;
}
.text-mysql {
  color: #e39410;
}
.text-postgresql {
  color: #336791;
}
.text-django {
  color: #092e20;
}
.text-php {
  color: #222433;
}
.text-bootstrap {
  color: #7912f6;
}
.bg-footer {
  background-color: #1e2833;
}
.bg-footer-secondary {
  background-color: #11171d;
}
